@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.Font{
    font-size: "22px";
    font-family: 'Times New Roman', Times, serif;
}
.formright{
    width:45%;
    float: right;
}
.formleft{ 
    width: 45%;
   float: left;
}
.notification.is-primary{
    background-color: rgb(28, 28, 28);
    
}
.button{
    margin-top: 10px;
    width: 100%;
}
.bode{

}
.top{

}
.titu{

}
.stitu{

}
.tit_cont{

}
.cont{

}
.data{
    
}